#twoimg-onetext {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: auto;
  background-color: black;
}

#carton {
  margin-top: 50px;
  width: 290px;
  height: 280px;
}
#platoComida {
  margin-top: 20px;
  width: 290px;
  height: 280px;
}
#div-texto {
  display: grid;
  color: white;
  text-align: center;
}
#Titulo {
  font-size: 33px;
}
#Sub-Titulo {
  font-size: 35px;
  font-weight: bolder;
}

#textoChinoFinal {
  font-size: 20px;
}
#boton{
  margin: auto;
  border-radius: 10px;
  background-color: red;
  padding: 10px;
}
#link{
  text-decoration: none;
  color:white;
}
