* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://i.pinimg.com/originals/17/ef/c5/17efc53dd5284b4edae90d9c0fb771c9.jpg");
  background-position: center;
  background-size: cover;
}
#div-inputs {
  width: 400px;
  background: linear-gradient(
    158deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(22, 11, 0, 1) 92%
  );
  background-color: black;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
}
.titulo {
  color: white;
  text-align: center;
}
.inputs {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 18px;
  border: solid 2px black;
}
.boton {
  width: 100%;
  padding: 12px;
  margin: 16px 0;
  font-size: 18px;
}
